{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Comment ça marche ?
            </h3>

            <div class="process-details">
                <p>
                    Vous allez remplir un questionnaire, différent selon si vous souhaitez aider ou avez besoin d'aide.
                </p>

                <p>
                    Vous inscrirez votre commune, vous pourrez décrire le besoin d'aide. Vous allez ensuite être
                    mis en relation sur la base de la commune et des critères entrés.
                </p>

                <p>
                    L’équipe de Lisungi vous recontactera par téléphone ou par mail pour vous indiquer la personne
                    que vous pourrez aider / qui pourra vous aider, ainsi que son contact.
                </p>

                <p>
                    Quand cela est possible, nous vous indiquerons également des lieux de dépôt partenaires
                    de l’initiative Lisungi pour acheminer ou récupérer le matériel prêt de chez vous
                    facilement en toute sécurité et transparence.
                </p>

                <p>
                    Ensuite, c’est à vous de jouer.
                </p>

                <p>
                    Nous vous invitons à respecter, à tout instant de votre relation d'entraide,
                    les consignes sanitaires en vigueur recommandées par les autorités de santé.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Qui peut donner ?
                </h5>

                <p>
                    Tout le monde, particulier, entreprises ou organisations peut effectuer un don.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Quels sont les dons acceptés ?
                </h5>

                <p>
                    Lisungi.org a pour objectif de venir en aide aux professionnels de santé en
                    première ligne contre le virus dans une démarche de dons solidaires.
                </p>

                <p>
                    Trois types de dons sont acceptés :
                </p>

                <ul>
                    <li>
                        <strong>Dons de matériel médical et de protection</strong> :
                        Masques, Lunettes, Blouses, Gel hydroalcoolique, Gants, Blouses et surblouse,
                        Désinfectant, Thermomètre, Stéthoscope, Appareil respiratoire, combinaisons ...
                    </li>
                    <li>
                        <strong>Denrées alimentaires</strong> :
                        Riz, Poulet, Viande, Huile, lait, sucre, conserves (tomates) ...
                    </li>
                    <li>
                        <strong>Autres matériels</strong> :
                        Médicaments, aides sanitaires, matelas, savon antiseptique ...
                    </li>
                </ul>

                <p>
                    Il est important que les donateurs s’assurent que le matériel donné respecte les
                    recommandations de l’Office Congolais de Contrôle et les brevets légaux associés.
                </p>

                <p>
                    Pour rappel, toute demande et/ou toute offre contraire à l’ordre public et aux
                    bonnes mœurs, toute tentative de marché noir et plus largement tout comportement
                    visant à utiliser le site web à des fins détournées de son objet sera immédiatement
                    rapporté aux autorités.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Qui peut bénéficier de l'aide ?
                </h5>

                <p>
                    Nous focalisons avant tout notre aide sur les professionnels de santé en première
                    ligne face au virus. Ce sont les soignants, pharmaciens, membres des services d'urgence, de la
                    cellule de riposte, des centres de prise en charge des patients à maladie chronique (diabète,
                    anémie) etc.
                </p>

                <p>
                    Le service est également ouvert à toutes les personnes vulnérables au virus de
                    par l'âge ou la condition de santé.
                </p>

                <p>
                    Vous vous reconnaitrez, nous vous faisons confiance. Nous savons qu'une personne n'ayant pas besoin
                    du service car sa situation ou son activité professionnelle ne le justifie pas ne s'inscrira pas.
                    Chacun est responsable, et nous croyons en chacun d'entre nous pour vaincre cette épidémie.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Combien ça coûte ?
                </h5>

                <p>
                    Lisungi est un réseau d'entraide complètement gratuit. C'est en nous soutenant
                    tous ensemble mutuellement que nous vaincrons le virus.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
