{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                International
            </h3>

            <div class="process-details">
                <p>
                    La plateforme Lisungi.org a été mis en place avec le soutien technique de l’équipe du site français
                    <a href="https://enpremiereligne.fr" target="_blank">enpremiereligne.fr</a>.
                </p>

                <p>
                    En Première Ligne est un réseau d’entraide solidaire face au virus lancé le 15 Mars 2020 en réponse
                    à la crise du COVID-19 en France. Le site met en relation les travailleurs mobilisés en première
                    ligne face au virus avec des volontaires prêt à les aider pour les tâches de la vie quotidienne
                    (garde d’enfant, achat des courses etc) .
                </p>

                <p>
                    La plateforme a été visitée par plus de 800 000 visiteurs et compte aujourd’hui plus de 84 000
                    volontaires. Grâce à cela, des centaines de missions solidaires ont pu être effectuées dans tout le
                    pays.
                </p>

                <p>
                    Le projet En Première Ligne est un projet gratuit et opensource. Si vous souhaitez rejoindre la
                    communauté de développeurs mobilisés face au virus, contactez
                    <a href="mailto:tech@enpremiereligne.fr">tech@enpremiereligne.fr</a>.
                </p>

                <p>
                    Si vous souhaitez lancer une initiative similaire dans votre propre pays, n’hésitez pas à nous écrire
                    sur <a href="mailto:world@enpremiereligne.fr">world@enpremiereligne.fr</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
