{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Qui sommes-nous ?
            </h3>

            <div class="process-details">
                <p>
                    Lisungi c’est toi. C’est moi. C’est nous tous qui sommes de près ou de loin des victimes directs ou
                    collatérales des effets de l’épidémie Covid-19. Nous sommes des victimes mais pas des résiliés, nous
                    sommes des engagés pour le bien de l’autre et le bien commun.
                </p>

                <p>
                    Lisungi c’est la grande chaîne des citoyens anonymes dans leur générosité et entiers dans leur don
                    pour l’autre.
                </p>

                <p>
                    Lisungi c’est la Bienveillance, car aider l’autre, c’est s’aider soi-même. Et dans cette crise nous
                    avons tous besoin d’aide.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Nous contacter
                </h5>

                <p>
                    <a href="mailto:contact@lisungi.org">contact@lisungi.org</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
