{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Pourquoi avons-nous lancé lisungi.org ?
            </h3>

            <div class="process-details">
                <p>
                    De tout temps, la solidarité a toujours fait vivre nos villages, nos cités et nos villes en temps de
                    paix comme en temps d’épreuve parce que nous avons conscience de nos inégalités de chance. Cette
                    plateforme est un moyen de venir en aide en particulier à ceux qui sont en première ligne à la fois
                    dans la bataille face au Covid-19 mais aussi à ceux qui sont en première ligne face aux conséquences
                    directs de cette pandémie.
                </p>

                <p>
                    Bien que loin jusqu’ici des statistiques du drame sanitaire que vit beaucoup de pays dans le monde,
                    c’est plus que jamais le combat de tous, un combat qui qui doit nous alerter, nous souder et nous
                    conduire à plus de solidarité pour faire face ensemble.
                </p>

                <p>
                    Mis à nue par cette crise, c’est l’occasion pour nous tous de redessiner notre modèle social, notre
                    vivre ensemble.
                </p>

                <a href="{{ path('content_how') }}">
                    En savoir plus sur le fonctionnement de la plateforme
                </a>
            </div>
        </div>
    </div>
{% endblock %}
